APP_NAME="MB Digital Systems API"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=mb_digital
DB_USERNAME=root
DB_PASSWORD=

MAIL_MAILER=smtp
MAIL_HOST=smtp.brevo.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="notificaciones@mbdigitalsystems.com"
MAIL_FROM_NAME="${APP_NAME}"

QUEUE_CONNECTION=database

SESSION_DRIVER=file
SESSION_LIFETIME=120

SANCTUM_STATEFUL_DOMAINS=localhost,mbdigitalsystems.com

ADMIN_EMAIL=contacto@mbdigitalsystems.com
WHATSAPP_NUMBER=529931782620
TRACKING_CLEANUP_DAYS=90
